{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "linebreak-style": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "indent": "off",
    "spaced-comment": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "no-debugger": "off",
    "no-trailing-spaces": "off",
    "no-unused-vars": "off",
    "max-len": "off"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}